<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdNBrPWJlMYcdjIpX3nG5WFrkSD51QlEiZ3Nlj5fJ1PedX-Dg/viewform">Call for Events</a></li>
					<li><a href="https://twitter.com/DEFCONCCVillage">Twitter</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="mailto:info@monero.space">email</a></li>
					<li><a href="https://twitter.com/DEFCONCCVillage">twitter</a></li>
					<li><a href="https://www.youtube.com/c/MoneroSpaceWorkgroup">youtube</a></li>
					<li><a href="https://forum.defcon.org/node/236522">defcon forum</a></li>
				</ul>
			</footer>
		</body>
	</html>
